.page {
    width: 100%;
    height: 100vh;
    background: #000000;
    color: #ffffff;
}

.page_padding {
    padding: 20px;
}

.terminal_input {
    border-color: #58af0e;
}

.terminal_button {
    color: #ffffff;
    background-color: #000000;
    border-color: #58af0e;
    border-radius: 5px;
    font-weight: bold;
}
